{% extends "base.html" %}

{% block content %}
    <h3>{{ object.name }}</h3>
    
    <div class="d-flex justify-content-between align-items-center my-3">
        <div>
            <p class="mb-0">
                <strong>Tags:</strong>
                {% for tag in object.get_include_tags %}
                    <span class="badge bg-light text-dark">{{ tag.name }}</span>
                {% endfor %}
                {% for tag in object.get_exclude_tags %}
                    <span class="badge bg-secondary">{{ tag.name }}</span>
                {% endfor %}
                {% if not object.get_include_tags and not object.get_exclude_tags %}
                    <span class="badge bg-secondary">(Any)</span>
                {% endif %}
            </p>
        </div>
        <div>
            <a class="btn btn-sm btn-primary" href="{% url 'problems:deck-practice' object.id %}">start practice</a>
        </div>
    </div>
{% endblock %}
